<?xml version="1.0" encoding="utf-8"?><!-- suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobiliya.fleet"
    android:versionCode="15"
    android:versionName="1.0.13">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <uses-feature android:name="android.hardware.bluetooth" />


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.mobiliya.fleet.AcceleratorApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.mobiliya.fleet.activity.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.mobiliya.fleet.activity.BluetoothConnectionActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.ConfigActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobiliya.fleet.activity.VehicleHealthAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />

        <service
            android:name="com.mobiliya.fleet.io.ObdGatewayService"
            android:exported="false"
            android:launchMode="singleInstance" />
        <service
            android:name="com.mobiliya.fleet.io.MockObdGatewayService"
            android:exported="false"
            android:launchMode="singleInstance" />
        <service
            android:name="com.mobiliya.fleet.io.J1939DongleService"
            android:exported="false"
            android:launchMode="singleInstance" />
        <service
            android:name="com.mobiliya.fleet.services.GPSTracker"
            android:exported="false"
            android:launchMode="singleInstance" />

        <activity
            android:name="com.mobiliya.fleet.activity.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.LocationSettingActivity"
            android:label="@string/location_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.ForgotPasswordActivity"
            android:label="@string/forgot_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.mobiliya.fleet.activity.ResetSucessActivity"
            android:label="@string/reset_success"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.mobiliya.fleet.activity.TripActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.TripDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.TripListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.VehicleInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.DiagnosticActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.DriverScoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name="com.mobiliya.fleet.activity.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />

        <activity
            android:name="com.mobiliya.fleet.activity.ShowDialogActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />

        <receiver
            android:name="com.mobiliya.fleet.services.NotificationReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="PAUSE" />
                <action android:name="STOP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>